
h1{
    letter-spacing: 8px;
    font-size:60px;
    margin-top: -38px;
    color:white;

}
input{
   
    border-radius: 4px;
    border-width: 0px;
    width: 442px;
    height: 30px;
}
.todo{
    margin-top: 155px;
}


.container{
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    margin-top: 20px;
    width: 450px;
    background-color: white;
    box-shadow: 0 1px 4px 0 rgba( 0, 0, 0, 0.12), 0 1px 4px 0 rgba( 0, 0, 0, 0.18);
    height: 250px;
    overflow:auto;

}


body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(./images/bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-color: rgb(238, 237, 237);
}
.mode{
    display:flex;
}
.pic{
    margin-top: -10px;
    margin-left: 260px;
}

.close {
    position: absolute;
    right: 0;
    top: 0;
  padding: 12px 16px 12px 16px;
  }
  
  .close:hover {
    background-color: white;
    color: black;
  }
  
li{
    display: block;
    text-decoration: none;
    cursor: pointer;
    list-style: none;
    padding-left:10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid;
    border-width: 1px;
    border-color: rgb(173, 168, 168);
}
.crossed{
    color: rgb(122, 119, 119);
    text-decoration: line-through;
   
}
.cross{
   display: flex;
    margin-top: -20px;
    margin-left: 340px;
  
}
.lower{
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: white;
   padding-top: 12px;
    display: flex;
    list-style: none;
    margin-top: 0px;
    padding-bottom:10px ;
    width:410px;
    box-shadow: 0px 0px 0px 0px rgba( 0, 0, 0, 0.12), 0 1px 4px 0 rgba( 0, 0, 0, 0.18);

}
.top li{
    list-style: url(../images/\ \(2\).svg);
}
.inside{
    display:flex;
    list-style: none;
    
}
.items{
    
    margin-left: -24px;
    margin-right: 20px;
}
.dynamic{
    height: 15px;
    background-color: white;
    border: 0px;
    color: rgb(124, 122, 122);
}
.dark .dynamic{
    background-color: rgb(61, 60, 60);
    color: rgb(124, 122, 122);
}
.comp{
    cursor: pointer;
    margin-left: -20px;
    font-size: small;
    border:none;
   background-color: white;
   color: rgb(124, 122, 122);
}
.items,.all,.active,.completed{
    padding-left: 0px;
    font-size: small;
   margin-right: 14px;
    border:none;
    background-color: white;
    list-style: none;
    cursor: pointer;
    color: rgb(124, 122, 122);
}
.all{
    color: blue;
    margin-left: 5px;
}

.completed{
    margin-right: 60px;
    font-size:small;
    margin-right: 70px;
        color: rgb(124, 122, 122);
}
.last{
    text-align: center;
}
.circle{
    background-repeat:no-repeat;
    background-color:purple;
    background-position:center;
    background-image: url(./images/icon-check.svg);
}

/*light mode*/
.dark input {
    background-color: rgb(61, 60, 60);
    color:white;
}
.dark .container {
    background-color:  rgb(61, 60, 60);
    color: white;
}
.dark .lower{
    color: white;
    background-color: rgb(61, 60, 60);
    border-top: 1px solid rgb(146, 143, 143);
}
body.dark{
   
    background-image: url(./images/bg-desktop-dark.jpg);
    background-repeat: no-repeat;
    background-color: rgb(77, 76, 76);
}
.dark .circle{
    background-color: purple;
}

.dark li{
    border-color: rgb(124, 122, 122);
    background-color:  rgb(61, 60, 60);
    color: white;
  
}
.dark .items,.dark .all,.dark .active,.dark .completed,.dark .comp {
    list-style: none;
    background-color:  rgb(61, 60, 60);
    border: none;
    cursor: pointer;
    color: rgb(124, 122, 122);
}
.dark .all{
    color: blue;
}
.dark button{
     background-color: rgb(61, 60, 60);
}
@media only screen and (max-device-width:400px) and (min-device-width:330px){
body{
   
    
}

.container,input{
  
    width: 350px;
    margin-left: 105px;
}

.lower{
    font-size: x-small;
    width: 310px;
    margin-left: 105px;
    height: 20px;
}
.all,.active,.completed{
    padding-top: 10px;
    margin-top: 60px;
    background-color: white;
    width: 50px;
    height: 30px;
    color: rgb(61, 60, 60);
}
.all{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    margin-right: -10px;
    margin-left: -190px;
    padding-left: 100px;
    color: blue;
}

.comp{
    margin-left: -120px;
    width: 120px;
}
.items{
    width: 120px;
    height: 30px;
}
.completed{
    margin-left: -19px;
    margin-right: 0px;
    padding-right: 110px;
    padding-left: 10px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}
#img{

}
h1{
    width: auto;
    margin-left: 105px;
    font-size: xxx-large;
}
.pic{
    margin-top: -20px;
    margin-left: 190px;
   padding-right: 53px; 
  width: 20px;
}
}